@import './variables';
@import 'normolize';
@import './fonts.scss';

:root {
    --c-blue: #042e6c;
    --c-blue2: #335998;
    --c-black: #000;
    --c-white: #fff;
    --c-blue-gray: #2f2f42;
    --c-red: #da0000;
    --c-gray: #d6d6d6;
    --c-gray2: #efefef;
    --font-sofia-sans: 'Sofia Sans Condensed', sans-serif;
}

html {
    font-feature-settings: 'locl' 0;
    -webkit-text-size-adjust: 100% !important;
    -webkit-font-smoothing: antialiased !important;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-text-size-adjust: 100% !important;
    -webkit-font-smoothing: antialiased !important;
    text-size-adjust: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}

body {
    color: #000;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 1.2;
    font-optical-sizing: auto;
    font-style: normal;
    // min-height: 100vh;
    background: linear-gradient(0deg, var(--black, #000) 0%, var(--black, #000) 100%), radial-gradient(84.94% 108.6% at 51.66% 106.61%, #D7C2FF 0%, #5D0EF4 56.1%, #23075C 100%), #FFF;
    font-family: 'PT_Root_UI', sans-serif;
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 40px;

    @media (max-width: 768px) {
        padding: 0 15px;
    }
}

.body-wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.body-arap .main {
    flex: auto;
    height: 100%;
}

a {
    color: currentColor;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.2s linear;
    &:hover {
        color: #042e6c;
    }
}

button {
    padding: 0;
    border: 0;
    background-color: transparent;
    color: currentColor;
    cursor: pointer;

}

ul,
ol {
    padding: 0;
    list-style-type: none;
}

input {
    outline: none !important;
    border: 0;
    padding: 0;
}

.page-error {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0;

    h1 {
        font-size: 100px;
    }

    p {
        font-size: 32px;
        margin-bottom: 32px;
    }

    a {
        text-align: center;
        min-width: 180px;
    }
}

.text-light {
    color: #fff;
}

.hero-swiper {
    .swiper-wrapper {
        align-items: stretch;
    }

    .swiper-slide {
        height: initial;
    }
}


[data-selector="onboard"] {
    &.swiper-slide {
        &:not(.swiper-slide-visible) {
            opacity: 0;
        }
    }
}