.block {
    color: #fff;
    text-align: center;
    font-family: 'PT_Root_UI', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 135%;
    letter-spacing: -0.18px;
}
