.block {
    position: relative;
    text-align: center;
}

.ribbon {
    img {
        min-height: 100vh;
        height: 100%;
    }
    min-height: 100vh;
    position: relative;

    &.default {
        opacity: 0.3;
        filter: blur(25px);
    }
}


.title {    
    color: #fff;
    font-family: '5by7', sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: 1.28px;
    text-transform: uppercase;
    margin-bottom: 8px;
    
    @media (max-width: 1366px) {
        font-size: 54px;
        margin-bottom: 16px;
    }

    @media (max-width: 1024px) {
        font-size: 38px;
        margin-bottom: 8px;
    }

}

.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    padding-top: 90px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: 1024px) {
        padding: 80px 15px;
    }

    @media (max-width: 768px) {
        justify-content: flex-start;
    }

    .text {
        max-width: 455px;
        margin: 0 auto;
    }
}

.heros {
    margin-top: 64px;
    display: flex;
    justify-content: center;

    @media (max-width: 768px) {
        max-width: 100%;
        overflow: visible !important;
        margin-top: 24px;
    }
}

.slides_item {
    display: flex !important;
    justify-content: center;
 }

.hero {
    width: 100%;
    max-width: 337px;
    text-align: center;
    cursor: pointer;
    position: relative;
    transition: opacity .3s linear;
    &::before {
        content: "";
        position: absolute;
        top: -100px;
        left: -32px;
        width: 400px;
        height: 700px;
        z-index: -1;
        transform: skewX(14deg) rotate(5deg) scale(1);
        opacity: 0;
        transition: all .5s linear;
        filter: blur(40px);
        border-radius: 600px;
    }

    &[data-person="maks"]::before {
        background: radial-gradient(100.86% 60.37% at 56.05% 47.59%, #FFF 0%, #D3FFB1 13.32%, #97F252 40.61%, #10BD00 63.06%, #1A1A1A 100%);
    }

    &[data-person="rom"]::before {
        background: radial-gradient(106.53% 65.59% at 56.05% 47.59%, #FFF 0%, #C2E0FF 13.32%, #66AAEF 40.61%, #006CD7 63.06%, #1A1A1A 100%);
    }

    &[data-person="ann"]::before {
        background: radial-gradient(104.7% 64.46% at 56.05% 47.59%, #FFF 0%, #FFF8B6 13.32%, #FFE600 31.49%, #FF7B01 63.06%, #1A1A1A 100%);
    }

    &.is_show {
        picture {
            opacity: 0;
        }
    
        .person_anim {
            opacity: 1;
        }
        &::before {
            opacity: 1;
            transform: skewX(14deg) rotate(5deg) scale(10);
        }
    }



    &.is_hidden {
        opacity: .1;
    }

    picture {
        opacity: 0;
        transition: opacity .3s linear;
    }

    .person_anim {
        opacity: 1;
        transition: opacity .3s linear;
    }

    &:hover {
        &::before {
            opacity: 1;
        }

        picture {
            opacity: 0;
        }

        .person_anim {
            opacity: 1;
        }
    }

    .hero_name {
        color: #fff;
        font-family: '5by7', sans-serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 110%;
        /* 35.2px */
        letter-spacing: 0.64px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    .hero_info {
        padding: 24px;
        @media (max-width: 768px) {
            padding: 15px;
            transform: translateY(-120px);
        }
    }

    .hero_pos {
        color: #5D0EF4;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%;
        letter-spacing: 0.72px;
        text-transform: uppercase;
        position: relative;
        display: inline-block;

        &::before {
            content: "";
            position: absolute;
            top: -3px;
            left: -15px;
            width: calc(100% + 30px);
            height: calc(100% + 4px);
            background: #fff;
            z-index: -1;
            border-radius: 5px;
            transform: skewY(-25deg) rotate(25deg);
        }
    }

    .hero_text {
        color: rgba(255, 255, 255, 0.64);
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
        margin-top: 20px;
    }
}

.hero {
    &:nth-child(2) {
        .person_anim svg {
            transform: scale(2.5) translate(-6px, -2px) !important;
        }
    }
}

.person {
    position: relative;

    .person_anim {
        position: absolute;
        top: 0;
        left: 50%;
        height: 100%;
        transform: translateX(-50%);
   
        @media (max-width: 768px) {
            width: 100px;
            height: 240px;
        }

        svg {
            transform: scale(2.4) translate(-3px, -2px) !important;
        }

        
    }
}

.button {
    position: absolute;
    z-index: 100;
    left: 0;
    right: 0;
    bottom: 170px;
    width: 100%;
    max-width: 100%;
    padding: 0 15px;

    button {
        width: 100%;
    }
}

.next,
.prev {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    z-index: 200;
}

.prev {
    left: 15px;
}

.next {
    right: 15px;
}